# git stuff
.git
.gitattributes
.gitignore
.github

# docker stuff
Dockerfile
.dockerignore
docker-compose.yml
*.docker-compose.yml

# devcontainer stuff
.devcontainer

# elixir build stuff
_build
deps
.elixir_ls

# editor stuff
.vscode

# runtime config stuff
.env
.env.*

# k8s and skaffold stuff
k8s
skaffold.yaml
