<section class="phx-hero">
  <h1>Nisse</h1>

  <ul>
    <li><%= live_redirect "Plants", to: Routes.plant_index_path(@socket, :index) %></li>
    <li><%= live_redirect "Plant species", to: Routes.plant_species_index_path(@socket, :index) %></li>
    <li><%= live_redirect "Rooms", to: Routes.room_index_path(@socket, :index) %></li>
    <li><%= live_redirect "Spots", to: Routes.spot_index_path(@socket, :index) %></li>
  </ul>
</section>
